html, body
{
  margin: 0px;
  color: #dfdfdf;
  padding: 0px;
  height: 100%;
  background-color: #000000;
}

font,th,td,p,a,div
{
  font-family: Verdana, "Bitstream Vera Sans", Arial, Helvetica;
}

td
{
  padding: 1px;
}

input, button, select
{
  border: 1px solid #eeeeee;
  font-size: 9px;
}

.main-title
{
  color: #2a9fd6;
}

.super-table
{
  width: 90%;
  margin: auto;
  padding: 10px;
}

.kb-table
{
  width: 100%;
  border: 1px solid #444444;
  border-collapse: separate;
  border-spacing: 0px;
  color: #cccccc;
}

.ship-icon
{
  text-align: center;
  border: 0px;
  border-spacing: 0px;
}

.alliance-icon
{
  text-align: center;
  border: 0px;
  border-spacing: 0px;
}

.stats-table
{
  width: 100%;
  border: 1px solid #444444;
  border-collapse: separate;
  border-spacing: 1px;
  color: #cccccc;
}

.kb-table-header
{
  height: 20px;
  border: none;
  background: #555555;
  font-size: 14px;
  font-weight: bold;
}

.kb-table-row-date
{
  color: #cccccc;
}

.kb-table-row-date:hover
{
  background: #191919;
}

.kb-table-row-even-kill
{
  background: #005000;
}

.kb-table-row-odd-kill
{
  background: #003000;
}

.kb-table-row-even-loss
{
  background: #900000;
}

.kb-table-row-odd-loss
{
  background: #700000;
}

.kb-table-row-even-kill:hover
{
  color: #FFFFFF;
  background: #004E7A;
  cursor: pointer;
}

.kb-table-row-odd-kill:hover
{
  color: #FFFFFF;
  background: #004E7A;
  cursor: pointer;
}

.kb-table-row-odd-loss:hover
{
  color: #222222;
  background: #DD9300;
  cursor: pointer;
}

.kb-table-row-even-loss:hover
{
  color: #222222;
  background: #DD9300;
  cursor: pointer;
}