.jumbotron {
	background-size: cover;
}

.jumbotron img {
    margin-left:auto;
    margin-right:auto;
}

.jumbotron .page-title {
	text-shadow: 1px 1px #333;
    color: #2a9fd6;
}

.table-kbstats .row-month {
	background-color: #111;
	font-weight: normal;
}

.table-kbstats .row-kill {
	transition: 0.2s ease-in all;
	background-color: #005000;
}

.table-kbstats .row-kill:nth-child(2n) {
	background-color: #002c00;
}

.table-kbstats .row-kill:hover {
	transition: 0.2s ease-in all;
	background-color: #004e7a;
}

.table-kbstats .row-loss {
	transition: 0.2s ease-in all;
	background-color: #900000;
}

.table-kbstats .row-loss:nth-child(2n) {
	background-color: #670000;
}

.table-kbstats .row-loss:hover {
	transition: 0.2s ease-in all;
	background-color: #dd9300;
}

.table-kbstats td:last-child {
	text-align: center;
}

.table-kbstats img {
	float: left;
	display: block;
	margin-right: 0.5em;
}

@media (max-width: 667px) {
	.table-kbstats img {
		width: 20px;
		height: 20px;
	}
}

.table-kbstats span.name {
	display: block;
}

.table-hover > tbody > tr:hover {
	cursor: pointer;
}