html, body
{
  margin: 0px;
  color: #dfdfdf;
  padding: 0px;
  height: 100%;
  background-color: #000000;
}

font,th,td,p,a,div
{
  font-family: Verdana, "Bitstream Vera Sans", Arial, Helvetica;
}

td
{
  padding: 1px;
}

input, button, select
{
  border: 1px solid #eeeeee;
  font-size: 9px;
}

.super-table
{
  width: 90%;
  margin: auto;
  padding: 10px;
}

.kb-table
{
  border: 1px solid #444444;
  border-collapse: separate;
  border-spacing: 1px;
  color: #cccccc;
}

.stats-table
{
  border: 1px solid #444444;
  border-collapse: separate;
  border-spacing: 1px;
  color: #cccccc;
}

.kb-table-title
{
  height: 10px;
}

.kb-table-header
{
  height: 15px;
  background: #555555;
  font-size: 14px;
  font-weight: bold;
  padding: 4px;
}

.kb-table-row-even-kill
{
  background: #005000;
}

.kb-table-row-odd-kill
{
  background: #003000;
}

.kb-table-row-even-loss
{
  background: #a00000;
}

.kb-table-row-odd-loss
{
  background: #700000;
}

.kb-table-row-even-kill:hover
{
  color: #FFFFFF;
  background: #0083CC;
  cursor: pointer;
}

.kb-table-row-odd-kill:hover
{
  color: #FFFFFF;
  background: #0083CC;
  cursor: pointer;
}

.kb-table-row-odd-loss:hover
{
  color: #222222;
  background: #DD9300;
  cursor: pointer;
}

.kb-table-row-even-loss:hover
{
  color: #222222;
  background: #DD9300;
  cursor: pointer;
}