

<!doctype html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polyhedra Killboard</title>
    <link rel=stylesheet href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

<body bgcolor="black">
    <center>
    <img id="banner" />
<font color="#2a9fd6">
<center><h1>Polyhedra</h1></center>
<p>a personal Eve tool</p></font>
<p><font color="#cccccc">August, 2016</font>

<table class="super-table">
<tbody>
<tr>
<td>
<table class="kb-table">
    <tbody>
        <tr class="kb-table-title">
            <td>ShipType</td>
            <td>Pilot</td>
            <td>Final Blow</td>
            <td>Location</td>
        </tr>
        <tr class="kb-table-row-even-kill">
            <td>Spaceship</td>
            <td>Enemy Character Name</td>
            <td>Friendly Character Name</td>
            <td>TVN-FM</td>
        </tr>
        <tr class="kb-table-row-odd-loss">
            <td>Spaceship</td>
            <td>Friendly Character Name</td>
            <td>Enemy Character Name</td>
            <td>TVN-FM</td>
        </tr>
        <tr class="kb-table-row-even-kill">
            <td>Spaceship</td>
            <td>Enemy Character Name</td>
            <td>Friendly Character Name</td>
            <td>TVN-FM</td>
        </tr>
        <tr class="kb-table-row-odd-kill">
            <td>Spaceship</td>
            <td>Enemy Character Name</td>
            <td>Friendly Character Name</td>
            <td>TVN-FM</td>
        </tr>
        <tr class="kb-table-row-even-loss">
            <td>Spaceship</td>
            <td>Friendly Character Name</td>
            <td>Enemy Character Name</td>
            <td>TVN-FM</td>
        </tr>
        <tr class="kb-table-row-odd-loss">
            <td>Spaceship</td>
            <td>Friendly Character Name</td>
            <td>Enemy Character Name</td>
            <td>TVN-FM</td>
        </tr>
    </tbody>
</table>
</td>
<td>
<table class="stats-table">
    <tbody>
        <tr class="stats-header"><td>Active PVP</td></tr>
        <tr><td>Characters</td><td>3</td></tr>
        <tr><td>Ships</td><td>4</td></tr>
        <tr><td>Total Kills</td><td>30</td></tr>
    </tbody>
</table>

<script type="text/javascript" src="{{ url_for('static', filename='js/banner.js')}}"></script>
<script type="text/javascript">
    document.getElementById("banner").src = getRandomBannerImage();
</script>
</body>


</html>

