

<!doctype html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Polyhedra Killboard</title>
    <link rel=stylesheet href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

<body bgcolor="black">
<center>
    <img id="banner" />
<div class="main-title">
<h1>Polyhedra</h1>
<p>a personal Eve tool</p></font>
</center>
</div>

<table class="super-table">
<tbody>
<tr>
<td>
<table class="kb-table">
    <tbody>
        <tr class="kb-table-header">
            <td class="time-price"></td>
            <td class="ship-icon"></td>
            <td>ShipType</td>
            <td class="alliance-icon"></td>
            <td>Pilot</td>
            <td class="alliance-icon"></td>
            <td>Final Blow</td>
            <td>Location</td>
        </tr>
        <tr class="kb-table-row-date">
            <td colspan="8">August, 2016</td>
        </tr>
        <tr class="kb-table-row-even-kill">
            <td class="time-price">19:00<br>1.00m</td>
            <td class="ship-icon"><img src="https://imageserver.eveonline.com/Type/587_64.png" height="40" width="40" alt="Rifter"></td>
            <td>Rifter</td>
            <td class="alliance-icon"><img src="https://image.eveonline.com/Alliance/1_64.png" height="40" width="40" alt="Evil Baddies"></td>
            <td>Enemy Character Name<br><small>Evil Baddies</small></td>
            <td class="alliance-icon"><img src="https://imageserver.eveonline.com/Alliance/498125261_64.png" height="40" width="40" alt="Test Alliance Please Ignore"></td>
            <td>Friendly Character Name<br><small>Test Alliance Please Ignore</small></td>
            <td>TVN-FM</td>
        </tr>
        <tr class="kb-table-row-odd-loss">
            <td class="time-price">18:00<br>2.00m</td>
            <td class="ship-icon"><img src="https://imageserver.eveonline.com/Type/587_64.png" height="40" width="40" alt="Rifter"></td>
            <td>Rifter</td>
            <td class="alliance-icon"><img src="https://imageserver.eveonline.com/Alliance/498125261_64.png" height="40" width="40" alt="Test Alliance Please Ignore"></td>
            <td>Friendly Character Name<br><small>Test Alliance Please Ignore</small></td>
            <td class="alliance-icon"><img src="https://image.eveonline.com/Alliance/1_64.png" height="40" width="40" alt="Evil Baddies"></td>
            <td>Enemy Character Name<br><small>Evil Baddies</small></td>
            <td>TVN-FM</td>
        </tr>
        <tr class="kb-table-row-even-kill">
            <td class="time-price">17:00<br>3.00m</td>
            <td class="ship-icon"><img src="https://imageserver.eveonline.com/Type/587_64.png" height="40" width="40" alt="Rifter"></td>
            <td>Rifter</td>
            <td class="alliance-icon"><img src="https://image.eveonline.com/Alliance/1_64.png" height="40" width="40" alt="Evil Baddies"></td>
            <td>Enemy Character Name<br><small>Evil Baddies</small></td>
            <td class="alliance-icon"><img src="https://imageserver.eveonline.com/Alliance/498125261_64.png" height="40" width="40" alt="Test Alliance Please Ignore"></td>
            <td>Friendly Character Name<br><small>Test Alliance Please Ignore</small></td>
            <td>TVN-FM</td>
        </tr>
        <tr class="kb-table-row-odd-kill">
            <td class="time-price">16:00<br>4.00m</td>
            <td class="ship-icon"><img src="https://imageserver.eveonline.com/Type/587_64.png" height="40" width="40" alt="Rifter"></td>
            <td>Rifter</td>
            <td class="alliance-icon"><img src="https://image.eveonline.com/Alliance/1_64.png" height="40" width="40" alt="Evil Baddies"></td>
            <td>Enemy Character Name<br><small>Evil Baddies</small></td>
            <td class="alliance-icon"><img src="https://imageserver.eveonline.com/Alliance/498125261_64.png" height="40" width="40" alt="Test Alliance Please Ignore"></td>
            <td>Friendly Character Name<br><small>Test Alliance Please Ignore</small></td>
            <td>TVN-FM</td>
        </tr>
        <tr class="kb-table-row-even-loss">
            <td class="time-price">15:00<br>5.00m</td>
            <td class="ship-icon"><img src="https://imageserver.eveonline.com/Type/587_64.png" height="40" width="40" alt="Rifter"></td>
            <td>Rifter</td>
            <td class="alliance-icon"><img src="https://imageserver.eveonline.com/Alliance/498125261_64.png" height="40" width="40" alt="Test Alliance Please Ignore"></td>
            <td>Friendly Character Name<br><small>Test Alliance Please Ignore</small></td>
            <td class="alliance-icon"><img src="https://image.eveonline.com/Alliance/1_64.png" height="40" width="40" alt="Evil Baddies"></td>
            <td>Enemy Character Name<br><small>Evil Baddies</small></td>
            <td>TVN-FM</td>
        </tr>
        <tr class="kb-table-row-odd-loss">
            <td class="time-price">14:00<br>6.00m</td>
            <td class="ship-icon"><img src="https://imageserver.eveonline.com/Type/587_64.png" height="40" width="40" alt="Rifter"></td>
            <td>Rifter</td>
            <td class="alliance-icon"><img src="https://imageserver.eveonline.com/Alliance/498125261_64.png" height="40" width="40" alt="Test Alliance Please Ignore"></td>
            <td>Friendly Character Name<br><small>Test Alliance Please Ignore</small></td>
            <td class="alliance-icon"><img src="https://image.eveonline.com/Alliance/1_64.png" height="40" width="40" alt="Evil Baddies"></td>
            <td>Enemy Character Name<br><small>Evil Baddies</small></td>
            <td>TVN-FM</td>
        </tr>
    </tbody>
</table>
</td>
<td>
<table class="stats-table">
    <tbody>
        <tr class="kb-table-header"><td colspan="2" align=center>Active PVP</td></tr>
        <tr><td>Characters</td><td>3</td></tr>
        <tr><td>Ships</td><td>4</td></tr>
        <tr><td>Total Kills</td><td>30</td></tr>
    </tbody>
</table>

<script type="text/javascript" src="{{ url_for('static', filename='js/banner.js')}}"></script>
<script type="text/javascript">
    document.getElementById("banner").src = getRandomBannerImage();
</script>
</body>


</html>

